*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: "Microsoft YaHei","微软雅黑",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none !important;
    cursor: pointer;
}

li{
    list-style-type: none;
    font-size: 14px;
}

.root{
    width: 100%;
}

.f9t-layout{
    width: 1180px;
    margin: 0 auto;
}

.header__shadow--custom{
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
}

.header{
    line-height: 52px;
    background-color: #2d2f33;
    width: 100%;
    position: fixed;
    color: white;
}

.header .header__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__inner .header__main{
    display: flex;
}

.header .header__inner .header__main .header__logo {
    line-height: 20px;
    display: flex;
    align-items: center;
}

.header .header__inner .header__main .header__logo img {
    width: 90px;
}

.header .header__inner .header__main .header__title {
    display: inline-flex;
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    font-weight: 600;
    width: 160px;
    align-items: center;
}

.header .header__inner .header__main .header__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    height: 15px;
    border-left: 1px solid rgba(246, 246, 246, 0.4);

}

.header .header__inner .header__main .header__navwrap{
    display: flex;
}

.header .header__inner .header__main .header__navwrap .header__nav{
    line-height: 20px;
    display: flex;
}

.header .header__inner .header__main .header__navwrap .header__nav .header__navitem{
    padding: 20px 20px;
    margin: 0;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

.header .header__inner .header__main .header__navwrap .header__nav .header__navitem:hover {
    background-color: rgba(255,255,255,0.05);
}

.header .header__inner .header__main .header__navwrap .header__nav .header__navitemactive {
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(255,255,255,0.05);
}

.header .header__inner .header__right{
    display: flex;
    align-items: center;
}

.header .header__inner .header__right .header__search{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 20px 0 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-right: 20px;
}

.header .header__inner .header__right .header__search input:focus{
    width: 100px;
}

.header .header__inner .header__right .header__search input{
    width: 50px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: white;
    transition: width 300 ease;
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300 ease;
    -ms-transition: width 300 ease;
    -o-transition: width 300 ease;
}

.header .header__inner .header__right .header__avatarcontainer{
    padding: 12px 10px;
    line-height: 20px;
}
.header .header__inner .header__right .header__avatarcontainer:hover{
    background-color: #383A3D;
    line-height: 20px;
    cursor: pointer;
}
.header .header__inner .header__right .header__avatarcontainer .header__avatarwrp{
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.header .header__inner .header__right .header__avatarcontainer .header__avatarwrp .header__avatar{
  
}

.header .header__inner .header__right .header__avatarcontainer .header__avatarwrp .header__avatar img{
    width: 100%;
    height: 100%;
}

.header .header__inner .header__right .header__avatarcontainer .header__navitem--account{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #FFFFFF;
    width: 160px;
    color: #2d2f33;
    margin: 0;
    padding: 4px 0px;
    color: rgb(173, 169, 169);
}

.header .header__inner .header__right .header__avatarcontainer .header__navitem--account li{
    margin: 0;
    padding: 10px 20px;
    font-size: 14px !important;
}

.header .header__inner .header__right .header__avatarcontainer .header__navitem--account li:hover{
    color: #ffffff;
    background-color: #ddc930;
    
}
.header .header__inner .header__right .header__avatarcontainer .header__navitem--account li:hover a{
    color: #ffffff !important;
    background-color: #ddc930;
    
}
.header .header__inner .header__right .header__avatarcontainer .header__navitem--account li a{
    color: #474745;  
}

.header .header__inner .header__right .header__lang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100px;
    padding: 20px 20px;
    line-height: 20px;
}

.header .header__inner .header__right .header__lang:hover{
    background-color: #383A3D;
    cursor: pointer;
}

.header .header__inner .header__right .header__lang .f9t-select__menu{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #FFFFFF;
    width: 140px;
    color: #2d2f33;
    box-shadow: 0 2px 4px rgba(63, 62, 62, 0.16), 0 2px 4px rgba(190, 185, 185, 0.23);
   
}

.header .header__inner .header__right .header__lang .f9t-select__menu ul{
    margin: 0;
    padding: 10px 0px;
    color: rgb(173, 169, 169);
}

.header .header__inner .header__right .header__lang .f9t-select__menu ul li{
    margin: 0;
    padding: 6px 20px;
    font-size: 14px !important;
}
.header .header__inner .header__right .header__lang .f9t-select__menu ul li a{
   
    color: #8b8a87;

}
.header .header__inner .header__right .header__lang .f9t-select__menu ul li:hover {
    background-color: #383A3D;
    color: #cabf67 ;

}

.header .header__inner .header__right .header__lang .f9t-select__menu ul li:hover a{
    color: #cabf67 ;
 
}

.header .header__inner .header__right .header__lang .f9t-select__menu .select__active a{
    color: #ddc930;
}

.header .header__inner .header__right .f9t-select__active .icon-pcdown{
    transition: all 0.2s ease-out ;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transition: all 0.2s ease-out ;
    -moz-transition: all 0.2s ease-out ;
    -ms-transition: all 0.2s ease-out ;
    -o-transition: all 0.2s ease-out ;
}
.header .header__inner .header__right .icon-pcdown{
    transition: all 0.5s ease-out ;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-out ;
    -moz-transition: all 0.5s ease-out ;
    -ms-transition: all 0.5s ease-out ;
    -o-transition: all 0.5s ease-out ;
}

.header .header__inner .header__right .header__lang .f9t-select__icon{
    color: #E9E9EA;
}


/* Message */
.header .header__inner .header__right .header__notifycontainer{
    position: relative;
}

.header .header__inner .header__right .header__notifycontainer .header__notify{
    padding: 4px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
   height: 100%;
}

.header .header__inner .header__right .header__notifycontainer .header__notify:hover{
    background-color: #383A3D;
}

.header .header__inner .header__right .header__notifycontainer .header__notification--show{
    position: absolute;
    top: 60px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 4px 0;
    width: 320px;
    right: 0;
    color: #474745;


}

.header .header__inner .header__right .header__notifycontainer .header__notification--show .f9t-tab{
    border-bottom: 1px solid rgba(73, 72, 68, 0.2);
    padding: 0px 20px;
}

.header .header__inner .header__right .header__notifycontainer .header__notification--show .f9t-tab .tab__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

}

.header .header__inner .header__right .header__notifycontainer .header__notification--show .f9t-tab .tab__list .tab__item{
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 2px;
    cursor: pointer;

}

.header .header__inner .header__right .header__notifycontainer .header__notification--show .f9t-tab .tab__list .tab__item--active{
    color: #dcbc60;
    position: relative;
}

.header .header__inner .header__right .header__notifycontainer .header__notification--show .f9t-tab .tab__list .tab__item--active::before{
    content: ' ';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #dcbc60;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist{
    /* padding: 0 24px; */
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification{
    color: #666;
    font-size: 14px;
    text-align: center;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .no-data{
    padding-top: 30px;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .no-data img{
    width: 200px;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item{
    display: flex;
    align-items: center;
    padding: 0px 14px;
    padding-top: 4px;

}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item:hover{
    background-color: rgba(143, 142, 142, 0.1);
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .avatar{
    width: 36px;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .avatar .avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    position: relative;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__time{
    color: #ccc;
    font-size: 12px;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__content{
    margin-left: 10px;
    -webkit-box-flex: 1;
    flex: 1;
    flex-grow: 1;
    overflow: hidden;
    line-height: 18px;
    text-align: left;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__content .header-notification__text{
    color: black;
    font-size: 12px;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__title{
    color: #666;
    display: inline-block;
}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__subtitle{
    display: inline-block; 
    font-size: 12px; 
    color: #ccc; 
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__title .account-title{
    display: inline-block;
    /* font-size: 0; */
    line-height: 20px;

}

.header .header__inner .header__right .header__notifycontainer .header__notifylist .header-notification .header-notification__item .header-notification__title .account-title .account-title__name{
    color: #666;

}

.header .header__inner .header__right .header__notifycontainer .header__notifyfooter{
    line-height: 50px;
    color: #dcbc60;
    font-size: 14px;
    padding: 0 20px;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
}

.header .header__inner .header__right .header__notifycontainer .header__notifyfooter span{
    cursor: pointer;
}

.header .header__inner .header__right .header__notifycontainer .header__notifyfooter a{
    color: #4ea4dc;
    cursor: pointer;
}

/* 

loading

*/
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute; top: 140px; left: 140px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }   

  .header__notify--loding{
    z-index: 99999; position: absolute;background-color: rgb(255, 255, 255); overflow-y: hidden; width: 100%; height: 100%;
  }